@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: flex;
}

.container {
    position: relative;
    min-width: 550px;  
    display: flex; 
    justify-content: center;
}

.background-image {
    position: absolute;
    width: 100%;   
    height: 100%;
}

.logo-container {
    position: absolute;
    font-family: 'norsebold', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 120px;
    top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo {
    height: 100px;
}

span {
    font-size: 80px;
    color: white;
}

.image-footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: 0;
}
.image-footer > a {
    color: white;
}

.main-section {
    display: flex;
    flex-direction: column;
    flex: 1;  
}

.section-one {
    background-color: rgb(250, 250, 250);
    padding: 10px 40px;
    min-height: 35vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;   
}

.creators,
.viewers  {
    min-height: 155px;
}

.creators > h2,
.viewers > h2 {
    display: flex;
    justify-content: center;
}

.creators > p, 
.viewers > p {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

form {
    background-color: rgb(255, 255, 255);
    padding: 10px 40px;
    min-height: 30vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
}

form > h2 {
    margin: 10px 0px 5px 0px;
}

.name-input,
.contacts-input,
.password-input{
    display: flex;  
    column-gap: 70px;
    flex-wrap: wrap;
    font-size: 12px;
}

.name-input > p,
.contacts-input > p,
.password-input > p{
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}

.section-three { 
    background-color: rgb(245, 245, 245);
    border-top: 6px solid rgb(220, 220, 220);
    min-height: 35vh;
    padding: 10px 40px;
    box-sizing: border-box;
}

button {
    font-weight: bold;
    color: white;
    background-color: #596D48;
    border: 1px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 40px;
}

.error:invalid {
    outline: 1px solid red;
  
}

input:focus {
    outline: 1px solid rgb(0, 100, 210);
    box-shadow: 3px 3px 6px rgb(180, 180, 180);
}